@{
    ViewData["Title"] = "Home Page";
}


    <div class="modal modal-signin position-static d-block  py-6" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-5 shadow">
                <main class="bd-masthead text-center" id="content" role="main">
                    <div class="container mt-5 text-center">
                        <h1 class="mb-3 bd-text-purple-bright">Identity User</h1>

                        <div class="row mx-n2">
                            <div class="col-md px-2">
                                <a href="/Account/Login" class="btn btn-lg btn-outline-secondary w-100 mb-3" onclick="ga('', '', ' ', '', '');">Sign in</a>
                            </div>
                            <div class="col-md px-2">
                                <a href="/Account/Register" class="btn btn-lg btn-outline-secondary w-100 mb-3" onclick="ga('', '', ' ', '', '');">Sign Up</a>


                            </div>
                        </div>

                    </div>




                </main>
            </div>
        </div>
    </div>




  